@import 'variables';
@import 'mixins';
@import 'fonts';

body {
  background-color: $bg-color;

  color: #000;

  font-family: 'Lora', serif;
}

.page-contents {
  color: $text-color;
}

a:link,
a:visited {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}


@import 'navigation';
@import 'main-page';
@import 'sidebar';
@import 'sign-in';
