<div class="row text-center">
    <h3>Login</h3>
</div>
<form>
    <div class="m-b">
        <input type="text" name="email" class="form-control" placeholder="E-mail address" required ng-model="login['email']">
    </div>

    <div class="m-b">
        <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="login['password']">
    </div>

    <div class="text-center">
        <input type="submit" value="Log in" class="form-control inline-block" ng-click="checkData()">
    </div>
</form>