<div class="popular-polls-wrapper clearfix m-b-lg">
    <div class="col-md-4 col-xs-12" ng-repeat="poll in popularPolls">
        <div poll="poll"></div>
    </div>
</div>

<div class="login-info-wrapper row m-b-md" ng-show="!isAuthenticated()">
    <div class="col-xs-12 col-md-10 login-info-text">
        <h2 class="login-cta">
            Create a new poll by logging in
        </h2>
    </div>

    <div class="col-md-2 hidden-sm-down">
        <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-arrows/007340-blue-jelly-icon-arrows-arrow-northeast.png" class="img-responsive" alt="Here">
    </div>
</div>

<div class="register-info-wrapper row text-center" ng-show="!isAuthenticated()">
    <h3>
        New to Vote App? <a ui-sref="sign-up">Sign up here <i class="fa fa-sign-in"></i></a>
    </h3>
</div>