<h2 class="text-center">
    <a ui-sref="poll({pollID: poll.id})">{{ poll.question }}</a>
</h2>

<canvas class="chart chart-doughnut"
        chart-data="poll.data"
        chart-labels="poll.labels">
</canvas>

<!-- TODO: make them links and point them to adding a vote if authenticated -->
<ul>
    <li ng-repeat="option in poll.votes" ng-class="{'voted-on': option.id == userVoted}"> {{ option.name }} ({{ option.amount / poll.totalVotes * 100 | number}}%)</li>
</ul>

Total votes: {{ poll.totalVotes }}