<h1>For authenticated users</h1>

<ul>
    <li>
        Latest 5 polls breakdown table<br>
        Options:
        <ul>
            <li>
                Modify (transfers to another view)
                <ul>
                    <li>Change name</li>
                    <li>Change options name</li>
                    <li>Delete option</li>
                    <li>Add new options</li>
                </ul>
            </li>
            <li>Delete poll</li>
            <li>Share</li>
        </ul>
    </li>
    <li>Create a new poll</li>
    <li>Top 10 polls</li>
    <li>Search bar for those 10 polls with debounce set</li>
</ul>