<!--Login section for unauthenticated users -->
<section class="sidebar sidebar-login" ng-show="!isAuthenticated()">
    <div class="row text-center">
        <h3>Login</h3>
    </div>
    <form>
        <div class="m-b">
            <input type="text" name="email" class="form-control" placeholder="E-mail address" required ng-model="credentials.email">
        </div>

        <div class="m-b">
            <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="credentials.password">
        </div>

        <div class="text-center">
            <input type="submit" value="Log in" class="btn btn-success" ng-click="login()">
        </div>
    </form>

    <div class="sidebar-oauth-sign-in text-center">
        <a ui-sref="sign-up" class="btn btn-info" role="button">Sign in with social media</a>
    </div>
</section>

<!-- Settings section for authenticated users -->
<section class="sidebar sidebar-settings" ng-show="isAuthenticated()">
    <div class="row text-center">
        <h3>Hello {{authPayload().username}}</h3>
    </div>
    <ul>
        <li><a ui-sref="new-poll">New poll</a></li>
        <li><a ui-sref="user-polls">Your polls</a></li>
        <li><a ui-sref="sign-up">Link accounts</a></li>
        <li><a ui-sref="logout">Log out</a></li>
    </ul>
</section>

<p class="m-t-lg">Authenticated: {{isAuthenticated()}}</p>

<button role="button" ng-click="logTokenInfo()" class="btn btn-primary">Log token info</button>