<div class="oauth-sign-in text-center">
    <!-- Google -->
    <button role="button" ng-click="authenticate('google')" class="btn btn-danger">Google+</button>

    <!-- Facebook -->
    <button role="button" ng-click="authenticate('facebook')" class="btn btn-primary">Facebook</button>

    <!-- Twitter -->
    <button role="button" ng-click="authenticate('google')" class="btn btn-info">Twitter</button>

    <!-- GitHub -->
    <button role="button" ng-click="authenticate('github')" class="btn btn-warning">GitHub</button>
</div>